streamlit
PyMuPDF 
fitz # The fitz library, no version specified
protobuf<5,>=3.20
requests<3,>=2.27
pydeck<1,>=0.8.0b4
toml<2,>=0.10.1
numpy<2,>=1.19.3
click<9,>=7.0
pyarrow>=7.0
tornado<7,>=6.0.3
blinker<2,>=1.0.0
tzlocal<6,>=1.1
gitpython!=3.1.19,<4,>=3.0.7
typing-extensions<5,>=4.3.0
altair<6,>=4.0
rich<14,>=10.14.0
pillow<11,>=7.1.0
importlib-metadata<8,>=1.4
python-dateutil<3,>=2.7.3
packaging<24,>=16.8
cachetools<6,>=4.0
validators<1,>=0.2
pandas<3,>=1.3.0
watchdog>=2.1.5
tenacity<9,>=8.1.0
jsonschema>=3.0
jinja2
toolz
